<div class="register-box">
    <div class="panel panel-default">
        <div class="panel-heading">Change password for @{{ 'Test User' }}</div>
        <div class="panel-body">
            <p>Password must contain one lowercase letter, one number, and be at least 7 characters long.</p>
    
            <form class="form-container" [formGroup]="regForm" (ngSubmit)="onSubmit($event)">
                <x-input formControlName="newpassword" fieldType="password" fieldName="newpassword" [parentForm]="regForm" formLabel="New Password"></x-input>

                <x-input formControlName="newre_password" fieldType="password" fieldName="newre_password" [parentForm]="regForm" formLabel="Re New Password"></x-input>

                <div class="form-row">
                    <div class="input-group">
                        <x-button text="Submit" type="submit" [parentForm]="regForm"></x-button>
                    </div>
                </div>
            </form>
    
        </div>
    </div>
</div>