
.fame-box{border:1px solid #ccc;padding:15px;margin-bottom:10px;float:left;display:block;width:160px;background-color:#F7F7F7;}
.fame-box h3{font-weight:bold;text-decoration:none;text-align:center;font-size:14px;color:#25C6D0;margin-bottom:5px;margin-top:5px;clear:both;}
.fame-box img{float:left;display:block;}
.fame-box .topuser{font-size:10px;color:#646464;display: flex;padding: 2px 5px;margin: 0px;}
.fame-box .topspeed{font-size:10px;color:#646464;display: flex;padding: 2px 5px;margin: 0px;}
.fame-box .topprec{font-size:10px;color:#646464;display: flex;padding: 2px 5px;margin: 0px;}
.fame-box .fame-link{font-size:9px;color:#646464;display: flex;padding: 2px 5px;margin: 0px;}
.fame-box .fame-link a{text-decoration: underline;font-weight: 600;}