



.typing-container {
    display: grid;
    grid-template-areas: 
    'left_zar top_zar top_zar top_zar top_zar'
    'left_zar container container container container';
    grid-gap: 20px;
    grid-template-columns: 300px 1fr 1fr 1fr 1fr;
  
    .top-zar {
      grid-area: top_zar;
    }
  
    .left-zar {
      grid-area: left_zar;
    }
  
    .container-main {
      grid-area: container;
  
      .login_warring {
        background-color: #25c6d0;
        border: 1px solid #25c6d0;
        padding: 8px 35px 8px 14px;
        margin-bottom: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-tap-highlight-color: rgba(255,255,255,0)!important;
        text-shadow: none;
        color: #fff;
        font-weight: 700;
      
        .close {
          outline: 0;
          float: right;
          font-size: 20px;
          font-weight: 700;
          position: relative;
          top: 0;
          right: -26px;
          color: #fff;
          line-height: 14px;
          text-shadow: none;
          opacity: .7;
          padding: 0 5px;
          cursor: pointer;
          text-decoration: none;
        }
      }
  
      .typing-status {
        list-style: none;
        -webkit-backface-visibility: hidden;
        box-shadow: 0 0 0 0 #fff inset;
        margin-bottom: 10px;
        padding: 0;
        background: #ededed;
        border: 1px solid #e2e2e2;
        line-height: 35px;
        font-size: 24px;
        font-weight: 700;
        display: grid;
        grid-template-areas: 
        'time wpm acc lwpm lacc sound';
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 35px;
      }
  
      .typing-box{
        background-color: #fff;
        padding: 20px;
        border: 1px solid #dadada;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        display: grid;
        margin-bottom: 10px;
        max-height: calc((1em * 1.5 + 10px + 3px) * 7 - 1px);
        overflow: hidden;
  
        .typing-text{
          display: block;
          //background: url(~src/assets/css/images/line.png);
          background-repeat: space;
          font-family: 'courier new',Arial,Helvetica,sans-serif;
          float: left;
          position: relative;
  
          .inp_text{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            overflow: hidden;
          }
  
          .line-break {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            span {
              white-space: pre-wrap;
              margin-bottom: 5px;
              span{
                white-space: pre-wrap;
          
                padding-left: 2px;
                padding-right: 2px;
                display: block;
                float: left;
                font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
                line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
                font-family: PT Mono,"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
              }
            }
          }
  
          .letter-right {
            background: #edf7e7;
            color: #95c590;
            transition: color .12s ease-in-out;
          }
          
          .letter-wrong {
            background-color: #ffd0d0!important;
            color: #d55b60;
          }
        }
  
      }
  
    }
  }
  
  .typing-container.super{
    grid-template-areas: 
    'container container container container container';
    .top-zar{
      display: none;
    }
    .left-zar {
      display: none;
    }
  }
  
  
    
    
    /* Extra small devices (phones, 1289px and down) */
    @media only screen and (max-width: 1289px) {
    
      .typing-container {
        grid-template-areas: 
        'top_zar top_zar top_zar top_zar top_zar'
        'left_zar container container container container';
      }
      .typing-container.super{
        grid-template-areas: 
        'container container container container container';
        .top-zar {
          display: none;
        }
        .left-zar {
          display: none;
        }
      }
    }
    
    /* Extra small devices (phones, 969px and down) */
    @media only screen and (max-width: 969px) {
    
      .typing-container {
        grid-template-areas: 
        'left_zar container container container container';
        .top-zar {
          display: none;
        }
      }
      .typing-container.super{
        grid-template-areas: 
        'container container container container container';
        .top-zar {
          display: none;
        }
        .left-zar {
          display: none;
        }
      }
    }



  .screenBasic-footer {
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    display: flex;
    height: calc(3em + 24px);
    justify-content: center;
    transform: translateY(-0.25px);
    width: 100%;
  }
  .screenBasic-footer:before {
    border-bottom: 1px dashed #d5d5d5;
    content: "";
    position: absolute;
    width: 60%;
  }
  .screenBasic-footerText {
    background: #fff;
    color: #a9a9a9;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 0 20px;
    text-transform: uppercase;
    z-index: 1;
  }