body.scary-monster{
    background-color: #56A4A4;
}
body.scary-monster #bicheech{
    fill:#F8920D;
    stroke:#F8920D;
}
body.scary-monster #dotcom{
    fill:#053E31;
    stroke:#053E31;
}
body.scary-monster .header .header-links{
    background-color: #56A4A4;
}
body.scary-monster .header .header-menu{
    background-color: #D2F5E5;
}
body.scary-monster .header .header-menu .menu_layout .menu-box .sf-menu ul li{
    border-color:#D2F5E5;
}
body.scary-monster .header .header-menu .menu_layout .menu-box .mainRetrievedMenu i{
    border-color:#F8920D;
}
body.scary-monster a{
    color:#053E31;
}
body.scary-monster .header .header-menu .menu_layout .menu-box .sf-menu ul li a{
    color:#053E31;
}
body.scary-monster .header .header-menu .menu_layout .menu-box .sf-menu ul li.current-menu-item {
    border-color:#F8920D;
    background-color: #F8920D;
}
body.scary-monster .header .header-menu .menu_layout .menu-box .sf-menu ul li.current-menu-item > a{
    color:#fff;
}
body.scary-monster .typing-box .typing-status{
    background-color:#D2F5E5;
    border-color:#D2F5E5;
}
body.scary-monster .typing-box .typing-text{
    background-color: rgb(255,255,255, .75);
}
body.scary-monster .form-group label, 
body.scary-monster, 
body.scary-monster p, 
body.scary-monster label, 
body.scary-monster span,
body.scary-monster div.game p, 
body.scary-monster div.game a:link, 
body.scary-monster div.game a:visited, 
body.scary-monster div.game a:hover, 
body.scary-monster div.game a:active, 
body.scary-monster div.bread-crumb, 
body.scary-monster div.bread-crumb a:link, 
body.scary-monster div.bread-crumb a:visited, 
body.scary-monster div.bread-crumb a:hover, 
body.scary-monster div.bread-crumb a:active{
    color:#053E31;
}
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article header h2 .start-link, 
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article header .lang-course .start-link, 
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article header h2, 
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article header .lang-course{
    color:#F8920D;
}
body.scary-monster .typingtext div.lesson-text{
    border-color:#F8920D;
}
body.scary-monster .typingtext div.lesson-text span.l-active {
    background-color: #F8920D;
}
body.scary-monster .bread-crumb #exercise-title{
    color:#E2F900;
}
body.scary-monster .typingtext div.lesson-text span {
    color:#333;
}
body.scary-monster .sf_content .my_content .content .login_warring,
body.scary-monster .sf_content .my_content .content-mid .login_warring {
    background-color: #F8920D;
    border-color:#F8920D;
}
body.scary-monster .header .header-links .extra_layout .extra_box a.extra_item:hover{color:#F8920D;}
body.scary-monster .reg-box{background-color: #F8920D;}
body.scary-monster .level-box h3{color:#F8920D;}
body.scary-monster .fame-box h3{color:#F8920D;}
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article header h2, 
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article header .lang-course{color:#053E31;}
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article .item-container ul li.active a{color:#053E31;}
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article .item-container ul li a,
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article .item-container ul li a label,
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article .item-container ul li a .start-link{color:#053E31;}
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article .item-container ul li{border-color:#053E31;}
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article header{background-color: #D2F5E5;}
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article header{border-color:#9FC0B1;}
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article .item-container{border-color:#9FC0B1;}
body.scary-monster #lessonoff{stroke:#053E31;}
body.scary-monster #lessoncmpl{stroke:#053E31;}
body.scary-monster #lessonon{stroke:#053E31;fill:#053E31;}
body.scary-monster #lessoncmpl1{stroke:#053E31;fill:#053E31;}
body.scary-monster .lesson-box-text h2 div,
body.scary-monster div.lesson-box-begin{color:#053E31;}

body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article .item-container{background-color: #D2F5E5;}

body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article header h2 .start-link, 
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article header .lang-course .start-link,
body.scary-monster .sf_content .my_content .content .container .widget_accordion ul li article .item-container ul li a .start-btn{
    color: #053E31;
}
body.scary-monster #upgrade_box{
    stroke:#D57500;
    fill: url('#grad5');
}
body.scary-monster #removebtn{
    stroke:#D57500;
    fill: url('#grad5');
}
body.scary-monster .panel{
    background-color: #D2F5E5;
}
body.scary-monster .header .header-links .extra_layout .extra_box .responsive {
    background-color: #D2F5E5;
}