<div class="typing-container">


    <div class="right_bar">
        <x-register-box [isAuthenticated]="isAuthenticated"></x-register-box>

        <x-skill-level [isAuthenticated]="isAuthenticated"></x-skill-level>

        <x-hall-of-fame [wallOfFame]="wallOfFame"></x-hall-of-fame>
    </div>

    <div class="container-main">

        <div class="content">


            <h1 style="font-size:24px;">Contact Us</h1>
            <!-- Contact Form -->
            <div class="contactcontent">
                <div id="contact-form">

                    <form class="form-container" [formGroup]="contactForm" (ngSubmit)="onSubmit($event)">
                        <x-input formControlName="name" fieldType="name" fieldName="name" [parentForm]="contactForm" formLabel="name"></x-input>

                        <x-input formControlName="email" fieldType="email" fieldName="email" [parentForm]="contactForm" formLabel="email"></x-input>

                        <x-input formControlName="body" fieldType="body" fieldName="body" [parentForm]="contactForm" formLabel="body"></x-input>
        
                        <re-captcha id="recaptcha" name="recaptcha" formControlName="recaptcha" [(ngModel)]="token" required [class.is-invalid]="recaptchaField?.invalid && (recaptchaField?.dirty || recaptchaField?.touched)"></re-captcha>

                        <div *ngIf="recaptchaField?.invalid && (recaptchaField?.dirty || recaptchaField?.touched)" class="invalid-feedback">
                          <div *ngIf="recaptchaField?.errors?.['required']">This field is required.</div>
                        </div>
        
        
                        <div class="form-row">
                            <div class="input-group">
                                <x-button text="Submit" type="submit" [parentForm]="contactForm"></x-button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="clear"></div>
            </div>
            <!-- END Contact Form -->

            <hr>

            <h2>Frequently Asked Questions</h2>

            <!-- {% for faq in faqs %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                      {% if app.request.attributes.get('_locale') == 'mn' %}{{ faq.mnTitle }}{% endif %}
                      {% if app.request.attributes.get('_locale') == 'en' %}{{ faq.enTitle }}{% endif %}
                  </div>
                  <div class="panel-body">
                    {% if app.request.attributes.get('_locale') == 'mn' %}{{ faq.mnBody }}{% endif %}
                    {% if app.request.attributes.get('_locale') == 'en' %}{{ faq.enBody }}{% endif %}
                  </div>
                </div>
            {% endfor %} -->
        </div>
    </div>
</div>