.level-box{border:1px solid #ccc;padding:15px;margin-bottom:10px;background-color:#F7F7F7;display:block;clear:both;float:left;width: 100%;}
.level-box h3{font-weight:bold;text-decoration:none;text-align:center;font-size:14px;color:#25C6D0;margin-bottom:5px;margin-top:5px;}
.level-box .levelup_b{background: url(../../../assets/css/images/evolve_unknown.png) no-repeat;padding-top: 74px;}
.level-box .levelup_b img{}
.level-box .levelup_b p{text-align:center;color:#646464;font-size:10px;}